@model EntityLayer.concrete.Writer 
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yazar Bilgileri Düzenleme</h2>
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post)) 
{ 
    <div class="form-group">
        @Html.Label("Yazar Id")
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })

        <br /><br />
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName)
        <br /><br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterSurname)
        <br /><br />
        @Html.Label("Yazarın Mail Adresi")
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterMail)
        <br /><br />
        @Html.Label("Yazarın Şifresi")
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterPassword)
        <br /><br />
        @Html.Label("Yazarın Resmi")
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterImage)
        <br /><br />
        @Html.Label("Yazar Unvan")
        @Html.TextBoxFor(x => x.WriterTitles, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterTitles)
        <br /><br />
        @Html.Label("Hakkında")
        @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterAbout)
        <br /><br />
        <button class="btn btn-success">Değişiklikleri Kaydet</button>
        @Html.ActionLink("Yazarlar Sayfası", "Index", "Writer", "", new { @class = "btn btn-dark" })
    </div>

}
