@using EntityLayer.concrete
@model List<Category>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered table-hover ">
    <tr>
        <th class="col-md-2">Id</th>
        <th class="col-md-2">Ad</th>
        <th class="col-md-2">Açıklama</th>
        <th class="col-md-2">Durum</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
        </tr>

    }
</table>
@Html.ActionLink("Kategori Ekle", "CategoryAdd", "", new { @class = "btn btn-dark" })
@*<a href="~/Views/Category/CategoryAdd.cshtml" class="btn btn-success"> Kategori Ekle</a>*@